#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dbackend-drm=false \
		-Dbackend-headless=false \
		-Dbackend-pipewire=false \
		-Dbackend-rdp=false \
		-Dbackend-vnc=false \
		-Dbackend-wayland=false \
		-Dbackend-x11=false \
		-Dbackend-anland=true \
		-Danland-pipewire=enabled \
		-Dbackend-default=auto \
		-Drenderer-gl=true \
		-Dxwayland=true \
		-Dcolor-management-lcms=false \
		-Dimage-jpeg=true \
		-Dimage-webp=true \
		-Dshell-desktop=true \
		-Dshell-kiosk=true \
		-Dshell-ivi=false \
		-Ddemo-clients=false \
		-Dsimple-clients=[] \
		-Dtools=terminal \
		-Dsystemd=false \
		-Dtests=false \
		-Ddoc=false \
		-Dremoting=false \
		-Dpipewire=false

override_dh_auto_test:
	mkdir -p $(CURDIR)/debian/tmp/tmp/xdgruntimedir
	mkdir -p /tmp/.X11-unix
# Only make tests fatal for a subset of architectures
# https://gitlab.freedesktop.org/wayland/weston/-/issues/739
ifneq (,$(filter $(DEB_HOST_ARCH), amd64 arm64 armel armhf i386 ppc64el riscv64))
	XDG_RUNTIME_DIR=$(CURDIR)/debian/tmp/tmp/xdgruntimedir dh_auto_test --  --timeout-multiplier 3
else
	XDG_RUNTIME_DIR=$(CURDIR)/debian/tmp/tmp/xdgruntimedir dh_auto_test || true
endif

override_dh_missing:
	dh_missing --fail-missing -X.la

override_dh_makeshlibs:
	dh_makeshlibs -Xlibweston-14/ -- -c4 -ldebian/weston/usr/lib/$(DEB_TARGET_MULTIARCH)/weston/

override_dh_shlibdeps:
	dh_shlibdeps -O--buildsystem=meson -- -ldebian/weston/usr/lib/$(DEB_TARGET_MULTIARCH)/weston/

%:
	dh $@ --buildsystem=meson
